<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Projects | Sintu Kumar</title>

    <link rel="stylesheet" href="/css/style.css" />
    <link rel="shortcut icon" href="/images/logo.icon.png" type="image/x-icon" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css" />
</head>

<body>

    <%- include('partials/header') %>

        <main>
            <section class="section">
                <div class="container">
                    <h1 class="section-title center">All Projects</h1>
                    <p class="section-text center muted">
                        A complete list of projects I have worked on during my learning journey.
                    </p>

                    <div class="projects-grid">

                        <div class="project-card">
                            <img src="/images/project/sm.png" alt="School Management System">
                            <h3>School Management System</h3>
                            <p>
                                Complete system to manage students, teachers, classes, attendance
                                and marks using web technologies.
                            </p>
                            <span class="project-tag">Web Application</span>
                            <div class="project-actions">
                                <a href="https://github.com/Sintukrbca/school-management" target="_blank"
                                    class="btn github">
                                    <i class="fa-brands fa-github"></i>
                                    Source Code
                                </a>
                            </div>

                        </div>

                        <div class="project-card">
                            <img src="/images/project/lms.png" alt="Library Management System">
                            <h3>Library Management System</h3>
                            <p>
                                Database-driven system to handle book issue/return and student records.
                            </p>
                            <span class="project-tag">Database Project</span>
                            <div class="project-actions">
                                <a href="https://github.com/Sintukrbca" target="_blank" class="btn github">
                                    <i class="fa-brands fa-github"></i>
                                    Source Code
                                </a>
                            </div>

                        </div>
                        <div class="project-card">
                            <img src="/images/project/sr.png" alt="Student Record System">
                            <h3>Student Record System</h3>
                            <p>
                                A student information management project developed to practice database operations and
                                backend logic.
                            </p>
                            <span class="project-tag">Full Stack</span>
                            <div class="project-actions">
                                <a href="https://github.com/Sintukrbca" target="_blank" class="btn github">
                                    <i class="fa-brands fa-github"></i>
                                    Source Code
                                </a>
                            </div>

                        </div>

                        <div class="project-card">
                            <img src="/images/project/bc.png" alt="Bike Collection">
                            <h3>Bike Collection Website</h3>
                            <p>
                                Frontend website to showcase bike models with details and images.
                            </p>
                            <span class="project-tag">Frontend</span>
                            <div class="project-actions">
                                <a href="https://github.com/Sintukrbca/Bick_Collections_Project" target="_blank"
                                    class="btn github">
                                    <i class="fa-brands fa-github"></i>
                                    Source Code
                                </a>
                            </div>

                        </div>

                        <div class="project-card">
                            <img src="/images/project/sgw.png" alt="Snake Gun Water">
                            <h3>Snake Gun Water Game</h3>
                            <p>
                                A simple game using HTML, CSS and JavaScript.
                            </p>
                            <span class="project-tag">Frontend</span>
                            <div class="project-actions">
                                <a href="https://github.com/Sintukrbca/Snake_Water_Gun-" target="_blank"
                                    class="btn github">
                                    <i class="fa-brands fa-github"></i>
                                    Source Code
                                </a>
                            </div>

                        </div>


                        <div class="project-card">
                            <img src="/images/project/dl.png" alt="DL login page">
                            <h3>DL login page</h3>
                            <p>
                                A simple login page design using HTML, CSS and JavaScript.
                            </p>
                            <span class="project-tag">Frontend</span>
                            <div class="project-actions">
                                <a href="https://github.com/Sintukrbca/Driving-learning-logon-form" target="_blank"
                                    class="btn github">
                                    <i class="fa-brands fa-github"></i>
                                    Source Code
                                </a>
                            </div>

                        </div>

                         <div class="project-card">
                            <img src="/images/project/form.png" alt="otp form">
                            <h3>OTP Form</h3>
                            <p>
                                A simple OTP form design using HTML and CSS.
                            </p>
                            <span class="project-tag">Frontend</span>
                            <div class="project-actions">
                                <a href="https://github.com/Sintukrbca/Send-OTP-Form-" target="_blank"
                                    class="btn github">
                                    <i class="fa-brands fa-github"></i>
                                    Source Code
                                </a>
                            </div>

                        </div>


                    </div>
                </div>
            </section>
        </main>

        <%- include('partials/footer') %>

</body>

</html>